.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiChip-root {
  color: white !important;
}

.MuiChip-deleteIcon {
  color: white !important;
}

.MuiDropzoneArea-root {
  width: 100% !important;
  min-height: 30px !important;
  border-color: rgba(0, 0, 0, 0.12) !important;
  border-radius: 4px !important;
  background-color: rgba(255, 255, 255, 0.234) !important;
}


.MuiTypography-subtitle1 {
  font-size: 1rem;
  margin-top: 0% !important;
  margin-bottom: -1rem !important;
}