body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.proiect-holder {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.css-19kzrtu {
  text-align: center;
}

.login-form {
  text-align: center;
  max-width: 25vw;
  margin: auto;
  margin-top: 30vh;
}

a {
  text-decoration: none;
  color: white;
}